_theme-toggle.scss

// Styles for the theme toggle button
#theme-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed; // Or position it as per your layout
    top: 20px; // Adjust the position as needed
    right: 20px; // Adjust the position as needed
    font-size: 20px; // Adjust the size as needed
    z-index: 1000; // Ensure it's above other elements
}

// Styles for the sun and moon icons
.icon-sun, .icon-moon {
    display: none;
}

// Show only
